# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  # verify the pre-commit config
  - repo: meta
    hooks:
      - id: check-hooks-apply

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: Common misspellings

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  - repo: https://github.com/pre-commit/mirrors-clang-format
    # 'clang-format' may produce different result for different versions
    # with the same config. Better to choose one version and stick to it.
    rev: 2085c9678863cfe2db541d4d98a2ff12baa878ab  # frozen: v21.1.7
    hooks:
      - id: clang-format

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
