name: Verify terraform

on:
  workflow_call:

jobs:
  fmt-and-validate:
    strategy:
      fail-fast: false  # let all jobs to finish
      matrix:
        include:
          - dir: aws-ec2
          - dir: az-experiments
          - dir: az-vm
    name: Format & Validate - ${{ matrix.dir }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.8.5"
      - name: Format terraform
        run: terraform fmt -check -diff
        working-directory: terraform/${{ matrix.dir }}
      - name: Terraform Init
        run: terraform init -input=false
        working-directory: terraform/${{ matrix.dir }}
      - name: Custom preparation for az-vm
        if: matrix.dir == 'az-vm'
        run: |
          ssh-keygen -t ed25519 -f linuxvm
          rm linuxvm
        working-directory: terraform/${{ matrix.dir }}
      - name: Terraform Validate
        run: terraform validate -no-color
        working-directory: terraform/${{ matrix.dir }}
